<!-- App title section -->
<div class="row m-1 p-4">
    <div class="col">
        <div class="p-1 h1 text-primary text-center mx-auto ">
            <i class="fa fa-check bg-primary text-white rounded p-2 mx-3"></i>
            <u>My Todo-s</u>
        </div>
    </div>
</div>
<!-- Create todo section -->
<div class="row m-1 p-3">
    <div class="col col-11 mx-auto">
        <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
            <div class="col">
                <input #newTodo class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                    type="text" placeholder="Add new ..">
            </div>
            <div class="col-auto px-0 mx-0 me-2">
                <button type="button" (click)='addTodo(newTodo.value)' class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="p-2 mx-4 border-black-25 border-bottom"></div>